@import "../../App.scss";


.FeaturedProducts{
    background-color: $background-3;
    font: 100% $font-text;
    color: $color-text;
    .top{
        margin: 100px 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            margin-top: 50px;
            flex:3;
            color: yellow;
        }
    }
    
    .bottom{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}