@import "../../App.scss";


.products-card {
    font: 100% $font-text-styled;
    color: $color-text;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    .title{
        font: 300% $font-text-styled;
    }
    .text{
        font: 100% $font-text;

    }
    .container-products {
        color: $color-text;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        gap: 30px;

    }
}