@import "../../../App.scss";

.product {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;

  .left {
    flex: 1;
    display: flex;
    gap: 20px;
    .images {
      flex: 1;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImage {
      flex: 5;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .right {
    flex: 1;
    position: sticky;
    top: 0;
    align-self: flex-start;
    min-width: 500px;
    h2 {
      font: 300% $font-text-styled;
      text-transform:capitalize;
    }
    p{
      font: 150% $font-text;
      text-transform:capitalize;

    }
    span{
      font: 150% $font-text;
      text-transform:capitalize;

    }
  }
  .info{
    font: 90% $font-text;
    color: $color-shadow;

  }
  .details{
    font: 80% $font-text;
    color: $color-shadow;

  }
}
.flex {
  display: flex;
}
