.product {
    padding: 20px;
    display: flex;
    gap: 50px;
    color: lightgrey;
  
    .left {
      flex: 1;
      display: flex;
      gap: 20px;

      .images-about {
        flex: 1;
  
        img {
          width: 70%;
          height: 70%;
          object-fit: cover;
          margin-bottom: 20px;
          margin-left: 80px;
        }
      }
    
    }
    .right {
      flex: 1;
      text-align: justify;
      margin-right: 80px;
  
    }
  }
  