.container-home {
  display: flex;

  .img-fruit {
    display: flex;
    img {
      height: 200px;
    //   position: absolute;
      margin-left: 400px;
      margin-top: 35%;
      z-index: 2;
    }
  }
}
