@import "../../App.scss";

li {
  all: unset;
}

.container-header {
  position: sticky;
  border-bottom: 1px $color-text solid;
  color: rgb(219, 224, 236);
  padding: 6px;
  cursor: pointer;
  font: 100% $font-text;
  color: $color-text;
  display: flex;
  margin: 2em;
  width: 90%;
  justify-content: space-between;
  align-items: baseline;

  .logo {
    display: flex;
    height: 2.5em;
    align-self: center;
    padding-left: 0.5em;
  }

  .navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-right: 0.5em;
    align-items: center;
    align-self: center;
    li {
      transition-timing-function: ease-in-out;
      transition: background-color 0.6s,  translate 0.6s, transform 0.6s, color 0.5s;
      &:hover {
        color:  $background-lemon;
        transform: translateY(-3px);
        text-shadow: 0 0 0.5px $color-shadow;
      }
    }
    .menu-vertical {
      text-align: start;
      mix-blend-mode: multiply;
      
      .menu-vertical-container {
        z-index: 999;
        display: none;
        flex-direction: column;
        text-align: left;
        border: blue 1px solid;
        position: fixed;
        top: 85px;
        left: 0;
        background-color: black;
        right: 0;
        margin-top: 1em;
        li {
          background: black;
          color: rgb(255, 255, 255);
          font: 800% $font-text;
        }
      }
    }
    .products {
      &:hover .menu-vertical-container {
        display: flex;
      }
    }
  }
}
