@import "../../App.scss";

li {
  all: unset;
}

.container-header {
  border-bottom: 1px solid white;
  color: rgb(219, 224, 236);
  padding: 5px;
  cursor: pointer;
  font: 100% $font-text;
  color: $color-text;
  display: flex;
  margin: 2em;
  width: 90%;
  justify-content: space-between;
  align-items: baseline;
  .logo {
    display: flex;
    height: 2.5em;
    align-self: center;
    padding-left: 0.5em;
  }

  .navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-right: 0.5em;
    // background-color: red;
    // border: blue 1px solid;
    //   flex-wrap: nowrap;
    .menu-vertical {
      text-align: start;
      border: blue 1px solid;

      .menu-vertical-container {
        display: none;
        flex-direction: column;
        text-align: left;
        border: blue 1px solid;
        position: fixed;
        top: 80px;
        left: 0;
        background-color: black;

        right: 0;
        z-index: 999;

        // align-content: center;
        margin-top: 1em;
        li {
          margin: 0.4em;
          color:rgba(0, 0, 0, 0);


          // opacity: 0.5em;
          display: block;
          font-size: 100px;
          font: 100% $font-text;
          text-align: center;
          // margin-top: -20px;
          font-weight: bold;
          background-size: cover;
        }
      }
    }
    .menu-vertical {
      &:hover .menu-vertical-container {
        display: flex;
      }
    }
  }
}
