@import "../../App.scss";

li {
  all: unset;
}

.container-header {
  color: rgb(219, 224, 236);
  padding: 5px;
  cursor: pointer;
  font: 100% $font-text;
  color: $color-text;
  display: flex;
  margin: 2em;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  .logo {
    height: 2.5em;
  }

  .navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 1em;
    background-color: red;
    border: blue 1px solid;
    //   flex-wrap: nowrap;
    .menu-vertical {
      text-align: start;
      border: blue 1px solid;

      .menu-vertical-container {
        display: none;
        flex-direction: column;
        text-align: left;
        border: blue 1px solid;

        // align-content: center;
        margin-top: 1em;
        li {
          margin: 0.4em;
        }
      }
    }
    .menu-vertical {
      &:hover .menu-vertical-container {
        display: flex;
      }
    }
  }
}
