.container-register{
  color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    form{
      p{
        text-align: center;
      }
    }
}
.button-container{
    display: flex;
    justify-content: center;
}