a {
  all: unset;
  cursor: pointer;
  padding-top: 3em;
}
.main-footer {
  font-size: 0.9em;
  color: white;
  padding-top: 3em;
  background-color: rgb(121, 96, 96);
  bottom: 0;
  width: 100%;
  display: flex;
  padding-bottom: 1em;
}
