@import "//db.onlinewebfonts.com/c/23255fa3ff7a89589800cea3092f154f?family=NB+International";

@font-face {
  font-family: newYork;
  src: url(./private-resources/NewYork.otf);
}

$font-text: "NB International";
$font-text-styled: "newYork";


$color-text: #47311d;

$background-1: white;
$background-2: #F2ECE8;
$background-3: #F3F0EE;

  Body {
  background: $background-1;
}
